@model CiOneElearning.Models.TacGia

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/LayOut/_HomeLayout.cshtml";
}

<h2>Thông Tin Chi Tiết Tác Giả @Model.TenTacGia</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Tác Giả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTacGia)
        </dd>

        <dt>
            Chức Vị
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucVi)
        </dd>

        <dt>
            Giới Thiệu
        </dt>

        <dd>
            @Html.Raw(Model.GioiThieuTG)
        </dd>

        <dt>
            Ảnh Tác Giả
        </dt>

        <dd>            
            <img src="@Model.AnhTG" width="200" />
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "ManagerAuthor", new { id = Model.ID_TacGia })" class="btn btn-success">
        Sửa
    </a> 
    <a href="@Url.Action("Index", "ManagerAuthor")" class="btn btn-secondary">
        Quay Lại
    </a> 
</p>
