@model CiOneElearning.Models.AspNetUser

@{
    ViewBag.Title = "Thông Tin Tài Khoản";
    Layout = "~/Views/LayOut/_HomeLayout.cshtml";
}



<div>
    <h1>@ViewBag.Title</h1>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(m => m.Id)

        @Html.HiddenFor(m => m.AccessFailedCount)

        @Html.HiddenFor(m => m.EmailConfirmed)

        @Html.HiddenFor(m => m.LockoutEnabled)

        @Html.HiddenFor(m => m.LockoutEndDateUtc)

        @Html.HiddenFor(m => m.PasswordHash)

        @Html.HiddenFor(m => m.PhoneNumberConfirmed)

        @Html.HiddenFor(m => m.SecurityStamp)

        @Html.HiddenFor(m => m.TwoFactorEnabled)
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

       <dt>
           <strong>Số Điện Thoại</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>       

        <dt>
            <strong>Họ và Tên</strong>
         </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        
    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "AspNetUsers", new { id = Model.Id })" class="btn btn-success">
        Sửa
    </a>
    <a href="@Url.Action("Index", "Cource")" class="btn btn-secondary">
        Thoát
    </a> 
</p>
