@model CiOneElearning.Models.ApplicationUser

@{

    ViewBag.Title = "Sửa thông tin";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">

    <div class="col-sm-8">

        <h2>@ViewBag.Title</h2>

        <hr />

        @using (Html.BeginForm())
        {

            @Html.ValidationSummary("", new { @class = "text-danger" })

            @Html.AntiForgeryToken()



            @Html.HiddenFor(m => m.UserName)

            @Html.HiddenFor(m => m.Id)

            @Html.HiddenFor(m => m.Email)

            @Html.HiddenFor(m => m.AccessFailedCount)

            @Html.HiddenFor(m => m.Claims)

            @Html.HiddenFor(m => m.EmailConfirmed)

            @Html.HiddenFor(m => m.LockoutEnabled)

            @Html.HiddenFor(m => m.LockoutEndDateUtc)

            @Html.HiddenFor(m => m.PasswordHash)

            @Html.HiddenFor(m => m.PhoneNumber)

            @Html.HiddenFor(m => m.PhoneNumberConfirmed)

            @Html.HiddenFor(m => m.SecurityStamp)

            @Html.HiddenFor(m => m.TwoFactorEnabled)

         
           


            <div class="form-group">

                <button type="submit" class="btn btn-primary">Lưu</button>

            </div>

        }

    </div>

</div>