@using CiOneElearning.Models;

@model IEnumerable<ApplicationUser>

@{

    ViewBag.Title = "Quản lý thành viên";

    Layout = "~/Views/LayOut/_HomeLayout.cshtml";

}

<div class="row">

    <div class="col-sm-12">

        <h2>@ViewBag.Title</h2>

        <hr />

        <table class="table table-borderer">

            <thead>

                <tr>
                    <th>Email</th>

                  
                    <th></th>

                </tr>

            </thead>

            <tbody>

                @foreach (var item in Model)
                {

                    <tr>


                        <td>@item.Email</td>

                        

                        <td>

                            @Html.ActionLink("Sửa thông tin", "Edit", new { Id = item.Id }, null) |

                            @Html.ActionLink("Sửa quyền", "EditRole", new { Id = item.Id }, null) |

                            @Html.ActionLink("Xóa", "Delete", new { Id = item.Id }, null)

                        </td>

                    </tr>

                }

            </tbody>

        </table>

    </div>

</div>
